<div class="line">
  <mat-form-field appearance="outline" >
    <mat-label>Sorting users</mat-label>
    <mat-select #list (selectionChange)="sort(list.value)">
      <mat-option value="0">from A to Z</mat-option>
      <mat-option value="1">from Z to A</mat-option>              
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput placeholder="To find" #input (keyup.enter) ="search(input.value)"> 
    <mat-icon matSuffix (click)="search(input.value)">search</mat-icon>
  </mat-form-field>

</div>

<div class="line">
  <mat-form-field  class="item" appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Username" [(ngModel)]="username">     
  </mat-form-field>

  <mat-form-field class="item" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" [(ngModel)]="name">     
  </mat-form-field>

  <mat-form-field class="item" appearance="outline" >
    <mat-label>User Role</mat-label>
    <mat-select [(ngModel)]="role">
      <mat-option value="Admin">Admin</mat-option>
      <mat-option value="User">User</mat-option>              
    </mat-select>
  </mat-form-field>

  <button mat-raised-button class="btn" color="primary" (click)="addUser()">Add to</button>

</div>
<div *ngIf="usersList.length>0; else empty">
  <mat-selection-list #users (selectionChange)="selectItem(users.selectedOptions.selected)">
    <mat-list-option 
    [value]="user"
        *ngFor="let user of usersList; let i=index"
        [ngClass]="{'gray': i%2}">
    <div>
        <span class="item">{{i}} - {{user.username}}</span>
        <span class="item">{{user.name}}</span>
        <span *ngIf="user.role === 'Admin'" class="item">{{user.role}}</span>
    </div>

      
    </mat-list-option>
  </mat-selection-list>
  
<div class="line footer">
  <div>  
      Selected users: {{users.selectedOptions.selected.length}}
  </div>
  <div>
    <button mat-raised-button class="btn" color="warn" (click)="deleteUsers()">Delete</button>
  </div>
</div>
</div>
<ng-temlate #empty>
  <div>
    Users not found</div>
</ng-temlate>




 